<p id="notice"><%= notice %></p>

<p>
  <strong>Imagen:</strong>
  <%= @alert.imagen %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @alert.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @alert.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @alert.address %>
</p>

<%= link_to 'Edit', edit_alert_path(@alert) %> |
<%= link_to 'Back', alerts_path %>
